ol {
  &.category-breadcrumb {
    margin: 0 0 $spacer-y;

    li {
      margin-right: $spacer-x-inline;
    }
  }
}

.list-controls {
  margin-bottom: 0;

  .btn {
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    margin: 0 0 $spacer-y $spacer-x-inline;
  }

  .nav {
    margin: 2px auto 16px 6px;
    text-transform: uppercase;
  }
}
