//Topic List

// Makes every other topic in the topic list tertiary colour.
.topic-list > tbody > tr:nth-child(odd) {
    background-color: $tertiary;
}

//Removes the 1px border below each topic in the topic list.
.topic-list > tbody > tr {
    border-bottom: 0px;
}

//Increases the font-weight of topic titles in the topic list.
.topic-list a.title:not(.badge-notification) {
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, Utkal, sans-serif;
    font-size: 18px;
}

//Adds underline on topic title hover in topic list.
.topic-list a.title:not(.badge-notification):hover {
    text-decoration: underline;
}

//Reduces the size of the creator font.
.topic-list .creator, .topic-list .editor {
    font-size: 14px;
    display: block;
    margin-top: 0px;
}

//Sets the topic creator color to primary.
.topic-list {
    td, .creator a, .editor a {
        color: $primary;
    }
}

//Positions the last post avatar in the center of the topic 
.topic-list td {
    padding-bottom: 10px;
}

//Not sure but breaks things.
.topic-list td:first-of-type {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

//Adds a border at the bottom of the topic list to prevent it looking floaty.
tbody {
  border-bottom: 3px solid $primary-low;
}

//Makes last post block wider
.topic-list td.last-post, .topic-list th.activity {
    width: 160px;
    .relative-date {
        color: $primary;
    }
}

//Spaces out the original post date from the OP name.
.topic-list .creator .relative-date {
    margin-left: 8px;
}

//Something to do with last post block
.last-post {
    .poster-avatar {
        margin-right: 10px;
    }
    .poster-avatar, .poster-info {
        float: left;
    }
}

//Spaces out the posts coloumn
.topic-list .posts {
    width: auto;
}

//Makes avatars more square
img.avatar {
    border-radius: 3px;
}
